.title {
  color: white;
}

h4 {
  display: inline;
  padding: 10px
}

.panel-heading {
  background: black;
}

.right {
  float: right;
  margin-left: 15px;
}

.btn-sm {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
}

.btn-with-count {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.social-count {
  float: left;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Add Styles for your cards here */

/* ------ */

/* Animation SCSS */
.come-in {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.already-visible {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
